<table width = 100%>
  <tr bgcolor="red">
    <th height = 20>  </th>
  </tr>
  <tr bgcolor="orange">
  	    <th height = 20>  </th>
  </tr>
    <tr bgcolor="yellow">
  	    <th height = 20>  </th>
  </tr>
    <tr bgcolor="green">
  	    <th height = 20>  </th>
  </tr>
    <tr bgcolor="blue">
  	    <th height = 20>  </th>
  </tr>
    <tr bgcolor="violet">
  	    <th height = 20>  </th>
  </tr>
    <tr bgcolor="purple">
  	    <th height = 20>  </th>
  </tr>
</table>

