<table>
  <tr bgcolor="red">
    <th> red </th>
  </tr>
  <tr bgcolor="orange">
  	<th> orange </th>
  </tr>
    <tr bgcolor="yellow">
  	<th> yellow </th>
  </tr>
    <tr bgcolor="green">
  	<th> green </th>
  </tr>
    <tr bgcolor="blue">
  	<th> blue </th>
  </tr>
    <tr bgcolor="violet">
  	<th> violet </th>
  </tr>
    <tr bgcolor="purple">
  	<th> purple </th>
  </tr>
</table>