<div style="visibility:hidden">
    <audio autoplay loop>
        <source src="/images/Queen - We Are The Champions (Lyrics).mp3">
    </audio> 
</div>
<div id="stage" width=100% height=100%>
<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

<style>
body{
font-family: 'Berkshire Swash', serif;
font-size: 20px;
color: white
}
</style>

<h1>Flatiron School + Venture for America</h1>
<img src="images/flatiron.png">
<img src="images/VFA.jpg">
</div>