
<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

<style>
body{
font-family: 'Berkshire Swash', serif;
font-size: 20px;
}
</style>

<h1>Flatiron School + Venture for America</h1>
<img src="images/flatiron.png">
<img src="images/VFA.jpg">