<p style><center>Thanks for subscribing <%= @full_name %></p></center>
<p><center>You are from <%= @City %></p></center>

<a href="/">Home</a>

<center><img src = "https://i.imgur.com/XJyemeI.jpg"></center>
