<p style><center>Thanks for subscribing <%= @full_name %></p></center>
<p><center>You are from <%= @City %></p></center>



<center><img src = "https://i.imgur.com/XJyemeI.jpg">
<img src = "http://i.imgur.com/grXqcNw.gif" width="200px" height="auto"></center>
<center><a href="/">Home</a></center>
