<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container w3-orange">
  <h1>Baltimore Flatiron + VFA</h1> 
  <p>Team Members</p> 
</div>

<div class="w3-row-padding">

<div class="w3-third">
  <h2>Yitaek Hwang</h2>
  <p>Product Engineer - Leverege</p>
  <div style="width:200px;height:200px;overflow:hidden;" >
   <img src="images/Yitaek_Hwang.jpg" width="200px" height="auto">
</div>
  
</div>

<div class="w3-third">
  <h2>James Schaefer</h2>
  <p>Product Engineer - Leverege</p> 
  <div style="width:200px;height:200px;overflow:hidden;" >
   <img src="images/James_Schaefer.jpg" width="200px" height="auto">
</div>
</div>

<div class="w3-third">
  <h2>Steven Wang</h2>
  <p>Risk Analyst - Blispay</p>
  <div style="width:200px;height:200px;overflow:hidden;" >
   <img src="images/Steven_Wang.jpg" width="200px" height="auto">
</div>
</div>

</div>

</body>
</html>